main {
    overflow: hidden;
}

.site-footer::after {
    display: none !important;
}

.site-footer::before {
    display: none !important;
}

.story {
    margin-top: 100px;

    h2 {
        &::after {
            height: 155px;
        }
    }
}

#studio ::after {
    height: 108px;
}