@media (max-width: 600px) {

    #titreMenu {
        display: none !important;
    }

    .main-navigation {
        width: 100%;
        height: 50px;
    }

    .burgerBtn {
        width: 35px !important;
        height: 20px !important;
        margin-top: 15px !important;
        margin-left: 170px !important;

        & span {
            height: 2.5px !important;
        }

        & ::after,
        ::before {
            height: 2.5px !important;
        }
    }

    .fullscreenMenu {
        top: 50px !important;
        left: 0px !important;
        width: 100% !important;
        height: 100% !important;

        & li {
            font-size: 30px !important;
            line-height: 90px !important;
        }

        & p {
            margin-top: 125px !important;
        }

        .blueCatMenu {
            top: 86px !important;
            left: 323px !important;
            width: 91px !important;
            height: 78px !important;
        }

        .orchidMenu,
        .flowerMenu,
        .sunflowerMenu,
        .randomflowerMenu,
        .hibiscusMenu,
        .blackCatMenu {
            display: none !important;
        }
    }

    .logoFullscreen {
        left: 91px !important;
    }

    .video {
        display: none;
    }

    .banner img {
        display: block;
    }

    h2,
    h3 {
        font-size: 30px !important;
    }

    .banner {
        min-height: 500px;
        margin-left: -50px;
        margin-top: 35px;

        & .logo {
            width: 200px !important;
            margin-top: 30px;
            margin-left: 20px;
        }
    }

    .nomination {
        margin-left: 200px !important;
        flex-direction: column;

        & h2 {
            font-size: 18px !important;
            font-weight: 400 !important;
            line-height: 25px !important;
            width: 370px;
            margin-right: 25px;
            margin-top: -60px;
        }

        & .imageNomination {
            width: 200px;
            margin-right: 350px;
        }

        & img {
            margin-left: 165px;
            margin-top: 20px;
        }

        &::after {
            animation: none !important;
        }
    }

    .main-character h3 {
        margin-left: 500px !important;
    }

    .story #characters h3 {
        background-position: -5%;

    }

    .site-footer {
        padding-top: 50px;

        ul,
        li {
            font-size: 11px;
            margin-right: 4px;
            margin-left: 10px;
        }
    }

    .fadeIn {
        animation: none !important;
    }

    .story h2,
    .story__article,
    #studio h2 {
        &::after {
            display: none !important;
        }
    }

    #studio h2::before {
        display: none !important;
    }


    .site-footer ul,
    .nomination {

        &::after {
            display: none !important;
        }
    }

    .nomination {
        &::before {
            display: none !important;
        }
    }

    .orchidMenu,
    .flowerMenu,
    .sunflowerMenu,
    .randomflowerMenu,
    .hibiscusMenu {
        display: none !important;
    }

    .swiper {
        margin-left: 0.6em !important;
        margin-bottom: -200px;
    }

    #place {
        div {
            margin-left: 3em !important;
        }

        p {
            margin-top: 240px !important;
            width: 350px !important;
            position: absolute !important;
            margin-left: -11em !important;
        }

        h3 {
            margin-bottom: 3em !important;
            width: 400px !important;
            position: absolute !important;
            margin-left: -69px !important;
        }
    }
}

@media (min-width: 601px) and (max-width: 1024px) {

    .main-navigation {
        width: 100% !important;
        height: 80px !important;

        & li {
            margin-left: -600px !important;
        }
    }

    .burgerBtn {
        margin-left: -15px !important;
    }

    .fullscreenMenu {
        left: 0px !important;
        width: 100% !important;
        height: 100% !important;

        & .blueCatMenu {
            left: 663px !important;
        }

        & .logoFullscreen {
            left: 270px !important;
        }

        & .flowerMenu {
            top: 441px;
            left: 522px;
        }

        & .sunflowerMenu {
            top: 697px !important;
            left: 545px !important;
        }
    }

    .randomflowerMenu,
    .hibiscusMenu {
        display: none !important;
    }

    .video {
        display: none;
    }

    .banner img {
        display: block;
    }

    .banner {
        min-height: 500px;

        & .logo {
            width: 300px;
        }
    }

    .swiper {
        margin-left: 0.5em !important;
        margin-bottom: -200px;
    }

    h2,
    h3 {
        font-size: 40px !important;
    }

    .main-character h3 {
        margin-left: 472px !important;
    }

    #place .littleCloud {
        width: 123px;
        height: 48px;
        top: -330px;
        left: 355px;
    }

    #place .bigCloud {
        width: 220px;
        height: 79px;
        top: -335px;
        left: 485px;
    }

    .nomination {
        & .titreOscar {
            font-size: 20px !important;
            font-weight: 400 !important;
            line-height: 30px !important;
        }

        & h2 {
            width: 400px;
            margin-top: 35px;
            margin-left: -120px;
            margin-right: -170px;
        }

        & img {
            margin-left: 147px;
            margin-top: 44px;
            width: 98%;
        }
    }

    .fadeIn {
        animation: none !important;
    }

    .story h2,
    .story__article,
    #studio h2 {
        &::after {
            animation: none !important;
        }
    }

    #studio h2::before {
        animation: none !important;
        margin-left: -50px;
    }


    .site-footer ul,
    .nomination {

        &::after {
            animation: none !important;
        }
    }

    .nomination {
        &::before {
            display: none !important;
        }
    }

    .orchidMenu,
    .flowerMenu,
    .sunflowerMenu,
    .randomflowerMenu,
    .hibiscusMenu {
        animation: none !important;
    }

}